<div class="jumbotron text-center" style="color: #020401; background-color:#27b39e ;">
  <img class="logo" src="/img/logo.jpg">
  <h1 class="display-3">About Us</h1>
  <p class="lead">The term "ideology" was born during the Reign of Terror of French Revolution, and acquired several other
    meanings thereafter. The word, and the system of ideas associated with it, was coined by Antoine Destutt de Tracy in
    1796,[3] while he was in prison pending trial during the Terror. The word was created by assembling the words idea, from
    Greek ἰδέα (near to the Lockean sense) and -logy, from -λογία. The coup that overthrew Maximilien Robespierre allowed
    Tracy to pursue his work.[4][3] Tracy reacted to the terroristic phase of the revolution by trying to work out a rational
    system of ideas to oppose the irrational mob impulses that had nearly destroyed him. He devised the term for a "science
    of ideas" he hoped would form a secure foundation for the moral and political sciences. He based the word on two things:
    1) sensations people experience as they interact with the material world; and 2) the ideas that form in their minds due
    to those sensations. He conceived "Ideology" as a liberal philosophy that would defend individual liberty, property,
    free markets, and constitutional limits on state power. He argues that among these aspects ideology is the most generic
    term, because the science of ideas also contains the study of their expression and deduction.[4] Tracy worked this out
    during the Napoleonic regime, and Napoleon Bonaparte came to view 'Ideology' a term of abuse, which he often hurled against
    his liberal foes in Tracy's Institut National. According to Karl Mannheim's historical reconstruction of the shifts in
    the meaning of ideology, the modern meaning of the word was born when Napoleon used it to describe his opponents as "the
    ideologues". Karl Marx adopted this negative sense of the term and used it in his writings (he described Tracy as a "fischblütige
    Bourgeoisdoktrinär", a fishblooded bourgeois doctrinaire).[5] Tracy's major book, The Elements of Ideology, was soon
    translated into the major languages of Europe, and in the next generation, when post-Napoleonic governments adopted a
    reactionary stance, influenced the Italian, Spanish and Russian thinkers who had begun to describe themselves as "liberals"
    and who attempted to reignite revolutionary activity in the early 1820s (these included the Carlist rebels in Spain,
    the Carbonari societies in France and Italy, and the Decembrists in Russia). In the century after Tracy, the term ideology
    moved back and forth between positive and negative connotations.</p>
  {{!-- <a href="/ideas/add" class="btn btn-dark btn-lg" style=" background-color: #dc3545; ">Add Video Idea</a> --}}
</div>