<div class="jumbotron text-center" style="color: #020401; background-color:#27b39e ;">
  <img class="logo" src="/img/logo.jpg">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Jot down ideas for your next YouTube videos</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg" style=" background-color: #dc3545; ">Add Video Idea</a>
</div>