<div class="card card-body" style=" background-color: #27b39e; ">
  <h3>Video Idea</h3>
  <form action="/ideas" method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title" required>
    </div>
    <div class="form-group">
      <label for="details">Details</label>
      <textarea class="form-control" name="details" required></textarea>
    </div>

    {{!-- <div class="form-group">
      <label for="img">Upload Image</label>
      <input type="file" class="form-control" name="img" >
    </div> --}}

    <button type="submit" class="btn btn-primary" style=" background-color: #dc3545; ">Submit</button>
  </form>
</div>